.app {
  font-family: "Nohemi", sans-serif;
}
body {
  background-color: #000000;
}
.html {
  font-size: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --mainColor: #00ff2a;
  --secondryColor: #999999;
  --secondryRedColor: #e50000;
  --borderColor: #1f1f1f;
}
.html {
  font-size: 10px;
}

.container {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 93%;
  position: relative;
}

.qtySelector button{
  font-size: 1.6rem;
}

.qtySelector span{
  font-size: 1.6rem;
  color: white;
}